//-
    * Project.pug
    * Разметка блока для отдельного проекта
    *
    * @param {+category}
    * @param {+feathes}
    * @param {+dates}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
//-
mixin project(title, description, picture, techs, methods, finished, changed, link1, linkDesc1, link2, linkDesc2)
    +b.SECTION(data-dateFinished=finished data-dateChanged=changed).project
        +e.presentation
            +e.IMG(src=picture alt="" width="490" height="275").image
            +e.icons
                +e.P.icons-technologies
                    each item in techs
                        span= item
                +e.icons-methods
                    each item in methods
                        span= item
        +e.popup
            +e.H2.title= title
            +e.H3.description= description
            +e.A(href=link1).link.--left= linkDesc1
            +e.A(href=link2).link.--right= linkDesc2