//-
    * Project.pug
    * Разметка блока для отдельного проекта
    *
    * @param {+category}
    * @param {+feathes}
    * @param {+dates}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
//-
mixin project(title, titleLink, description, category, status, picture, feature, techs, methods, finished, changed, link1, linkDesc1, link2, linkDesc2)
    +b.SECTION(data-dateFinished=finished data-dateChanged=changed).project&attributes(attributes)  
        +e.presentation
            -
            |
            |
            +e.IMG(src=picture alt="" width="490" height="275").image
            +e.icon-groups.--top
                +e.P.icons-info
                    |
                    |
                    if category
                        span(class= "project__icons-info-item")= category
                    if status == "Завершён" || status == "Обновлён"
                        time(class= "project__icons-info-item" datetime= finished)= status+": "+finished
                    else
                        span(class= "project__icons-info-item")= status
                    if feature
                        span(class= "project__icons-info-item")= feature
            +e.icon-groups.--bottom
                +e.P.icons-technologies
                    each item in techs
                        - var items = item.split("|");
                        |
                        |
                        if items[1]
                            span(class= "project__icons-technologies-item  project__icons-technologies-item--"+items[1])= items[0]
                        else
                            span(class= "project__icons-technologies-item")= items[0]
                +e.P.icons-methods
                    each item in methods
                        - var items = item.split("|");
                        |
                        |
                        if items[1]
                            span(class= "project__icons-methods-item  project__icons-methods-item--"+items[1])= items[0]
                        else
                            span(class= "project__icons-methods-item")= items[0]
        +e.popup
            +e.H2.title
                if titleLink
                    +e.A(href=titleLink target="_blank")= title
                else
                    +e.A= title
            +e.H3.description= description
            +e.A(href=link1 target="_blank").link.--left= linkDesc1
            +e.A(href=link2 target="_blank").link.--right= linkDesc2